.sidebar {
  flex: 0 0 auto;
  overflow-y: auto;
  padding: modular-scale(2) modular-scale(-2);
}

.sidebar__list-item:not(:last-child) {
  margin-bottom: modular-scale(-6);
}

.sidebar__link {
  @include ellipsis;
  color: $base-font-color;
  max-width: modular-scale(14);
  min-width: modular-scale(12);
  padding: modular-scale(-9) modular-scale(-2);
  transition: color $base-duration $base-timing;

  &:hover {
    color: $action-color;
  }
}

.sidebar__link--active {
  background-color: shade($base-background-color, 6%);
  border-radius: $base-border-radius;
  color: $action-color;
  font-weight: bold;
}
